.freeTurn {
    width: 80px;
    height: 80px;
    display: grid;
    place-items: center;
    cursor: pointer;
    font-size: 48px;
    border-radius: 50%;
    border: 5px outset #4444ff;
    overflow: hidden;
}